@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
    margin: 0px;
    font-family: 'cairo';
    background-color: #dafcff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}
a{
    text-decoration: none;
    color: black;
}
.header{
    align-content: center;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #b2f0f5;
    
}
.head-left{
    margin: 5PX 20PX;
align-content: center;
 display: inline-flex;
 justify-content: space-between;
 width: 160px;
}
.logo{
    width: 50px;
}
#onshop{
    font-size: 40px;
    font-weight: bold;
    color: rgb(48 71 103);
    FONT-FAMILY: Cursive;
}
.head-mid{
    width: 30%;
    min-width: 260px;
    align-content: center;
    display: inline-flex;
    margin: 5px 25px;
}
.head-right{
    align-content: center;
    display: inline-flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}
.viewCart{
    width: 95px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.viewCart a img{
    height: 65%;
    width: auto;
    transition: all .5s;
}
.viewCart a img:hover{
    filter: drop-shadow(0px 0px 3px #0077dd);
}
.searchBar{
    width: 450px;
    height: 42px;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
#searchICON{
    width:45px;
    align-items: center;
    align-items: center;
    align-content: center;
    background-color: #e6ebf5;
    border: 1px solid;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.searchIcon{
    width:30px;
    padding: 5px;
}
/* profilePicContiner */
.profilePicContiner{
    width: 100%;
    height: 30%;
    /* background-color: EFEFEF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
}
.profilePic{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profilePic img{
    height: 100%;
    width: auto;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 4px black);
}

.changeButtonBox{

}
/* InfoContainer */
.InfoContainer{
    height: fit-content;
    width: 75%;
    padding: 10px;
    margin: 20px;
    background-color: #c3faff;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    filter: drop-shadow(0px 0px 2px #7F8487);
}
.legend{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}
.InfoBox{
    margin: 10px;
}
.InfoTitle{
    font-weight: bold;
    font-size: 18px;
    padding-bottom:10px;
}
.InfoBox input{
    font-size: 20px;
    padding: 5px 10px;
    /* filter: drop-shadow(0px 0px 2px #7F8487); */
    background: none;
    border: 0 0 0 5px;
    border: solid 0px;
    outline: none;
    border-bottom: solid 1px #00000045;
}


.InfoContainer{
    
}
.OrdersGroup{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.OrdersContainer{
    height: fit-content;
    width: 75%;
    padding: 10px;
    margin: 20px;
    background-color: #c3faff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 0px 2px #7F8487);
    align-items: center;
}
.OrderTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}
.OrdersTable{
   border: 1px black solid;
   width: 80%;
}
.OrdersTable tr:nth-child(even) {
    background-color: #80ecf6;
}
.OrdersTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.ItemCell{
    display: flex;
    justify-content: flex-start;
}
.ProductInfo{
    margin-left:10px ;
}
.StatueAndCost{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.Statue{
    font-size: 16px;
    font-weight: bold;
}
.TotalCost{
    font-size: 16px;
    font-weight: bold;
}
.StatusBox{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}
.TotalCostBox{
    display: flex;
    width: 17.6%;
    align-items: center;
    justify-content: space-between;
}
.StatueCircle{
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    margin-right: 5px;
}
.TotalCostCircle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
}
.ProductPic{
    width: 40px;
    filter: drop-shadow(0px 0px 3px black);
}
.StatueCircle2{
    height: 15px;
    width: 15px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    margin-right: 5px;
}
/* footer */
.footer{
    background-color: #304767;
    width: 100%;
    height: fit-content;
    margin-top: auto;
}
.footerlogo{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 15px;

}
.footer #onshop{
    color: rgb(255, 255, 255);
}
.footer img{
    width: 50px;
}
.footerBox{
    width: 200px;
    /* background-color: brown;  */
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
}
.Boxes{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.title{
    text-transform: uppercase;
    color: aliceblue;
    font-family: Source Sans Pro;
    font-size: 20px;
}
.text{
    color: #00efd1;
    line-height: 30px;
    text-transform: capitalize;
}
.text img{
        width: 130px;
}